.lead__subtitle {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 64px;
  padding: 0 calc((984px - 640px) / 2) 0;
}
