.place {
  width: 100%;
  margin: 0 auto 80px;
  display: grid;
  column-gap: 48px;
  row-gap: 40px;
  grid-template-columns: minmax(auto, 460px) minmax(auto, 484px);
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
}

.place:last-of-type {
  margin: 0 auto 0;
}
